@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
    margin: 0;
    padding: 0;
}

.about-wrapper {
    background: #c6d7ec;
    /* clip-path: circle(85% at 50% 50%); */
}

.about-img {
    width: 100px;

    @media (max-width:968px) {
        width: 60px;
    }

    @media (max-width: 768px) {
        width: 45px;
    }
}

.about-us {
    background-color: #CBDBF2;
}

.inner {
    clip-path: ellipse(49.5% 69% at 50% 56%);
}

.inner2 {
    clip-path: ellipse(51.5% 83% at 50% 56%);
    background-color: #CBD6EE;
}