.event-template-poster {
  width: 100%;
  height: 100%;
  transition: all 300ms linear;
  object-fit: cover;
  object-position: top;
}

.event-template-poster:hover {
  transform: scale(1.1) rotate(-2deg);
}
